<% if @dishes.empty? %>
  <p>No dishes currently added</p>
<% else %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th># reviews</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @dishes.each do |dish| %>
        <tr>
          <td><%= dish['id'] %></td>
          <td><%= dish['name'] %></td>
          <td><%= dish['description'] %></td>
          <td><%= dish['reviews_count'] %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Edit', edit_dish_path(id: dish['id']) %></li>
                <li><%= link_to 'Show details', dish_path(id: dish['id']) %></li>
                <li><%= link_to 'Delete', dish_path(id: dish['id']), method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @dishes %>
<% end %>
